<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57b929fbcb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        
    </nav>

<div class="container">
  <h3>സംഖ്യാപുസ്തകം 7:36-10:36 വരെ</h3>
  <p>1) പ്രഭുക്കന്മാരുടെ വഴിപാടുകളിൽ വെള്ളിക്കിണ്ണം വെള്ളിത്തളിക എന്നിവയിൽ നിറഞ്ഞിരുന്നത് എന്തായിരുന്നു? എന്തിനുള്ളത്?</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Answer</button>
  <div id="demo1" class="collapse info">
    ഉത്ത: എണ്ണ ചേർത്ത നേരീയ മാവു;ഭോജനയാഗത്തിനായി - സംഖ്യ 7:37, 43' 49,55,61,67,73,79
  </div>
  
  <p>2) പ്രഭുക്കന്മാരുടെ വഴിപാടുകൾ കൊണ്ടുവന്നത് ഏതു ദിവസമായിരുന്നു?</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">Answer</button>
  <div id="demo2" class="collapse info">
    ഉത്ത: യാഗപീഠം അഭിഷേകം ചെയ്ത ദിവസം - സംഖ്യ 7: 84
  </div>

  <p>3) കാടയെ പാളയത്തിൻ്റെ സമീപത്ത് എത്തിച്ചത് എങ്ങനെ? എവിടെ നിന്ന്?</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">Answer</button>
  <div id="demo3" class="collapse info">
    ഉത്ത: യഹോവ അയച്ച ഒരു കാറ്റ് ഊതി; കടലിൽ നിന്ന് കാടയെ കൊണ്ടുവന്നു - സംഖ്യ 11:31
  </div>

  <p>4) അവനോട് ഞാൻ അരുളിച്ചെയ്യുന്നത് മറ പൊരുളായിട്ടല്ല;_അത്രേ;അവൻ യഹോവയുടെ രൂപം കാണുകയും ചെയ്യും. അങ്ങനെയരിക്കെ __വിരോധമായി സംസാരിപ്പാൻ ശങ്കിക്കാഞ്ഞത് എന്ത്?</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">Answer</button>
  <div id="demo4" class="collapse info">
    ഉത്ത: അഭിമുഖമായിട്ടും സ്പഷ്ടമായിട്ടും, എൻ്റെ ദാസനായ മോശെയ്ക്കു-സംഖ്യ 12:8
  </div>

  <p>5) കനാൻദേശം ഒറ്റു നോക്കാൻ മോശെ യഹോവയുടെ കല്പനപ്രകാരം ആളുകളെ അയച്ച ത് എവിടെ നിന്നു് ?</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5">Answer</button>
  <div id="demo5" class="collapse info">
    ഉത്ത: പാറാൻ മരുഭൂമിയിൽ നിന്ന് - സംഖ്യ 13:3
  </div>

  <p>6) മിസ്രയീമിലെ സോവറിനേക്കാൾ പഴക്കമുള്ള കനാൻദേശത്തുള്ള പട്ടണം ഏതാണ്? </p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6">Answer</button>
  <div id="demo6" class="collapse info">
    ഉത്ത: ഹെബ്രോൻ- സംഖ്യ 13:22
  </div>

  <p>7) പർവ്വതങ്ങളിൽ പാർക്കുന്നവർ ആരൊക്കെ?</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo7">Answer</button>
  <div id="demo7" class="collapse info">
    ഉത്ത: ഹിത്യരും യെബൂസ്യരും അമോര്യരും - സംഖ്യ 13:29
  </div>

  <p>8) മിസ്രയീമിലേക്ക് മടങ്ങിപ്പോകയല്ലയോ ഞങ്ങൾക്ക് നല്ലത് എന്ന് പറഞ്ഞ വർ എന്തും കൂടെ തമ്മിൽ തമ്മിൽ പറഞ്ഞു.?</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo8">Answer</button>
  <div id="demo8" class="collapse info">
    ഉത്ത: നാം ഒരു തലവനെ നിശ്ചയിച്ച് മിസ്രയീമിലേക്ക് മടങ്ങിപ്പോക-സംഖ്യ - 14:4
  </div>

  
  <p>9) എൻ്റെ തേജസ്സും മിസ്രയീമിലും മരുഭൂമിയിലും വെച്ച് ഞാൻ ചെയ്ത അടയാളങ്ങളും കണ്ടിട്ടുള്ള പുരുഷന്മാർ എല്ലാവരും അവരുടെ പിതാക്കന്മാരോട് ഞാൻ സത്യം ചെയ്ത ദേശം അവർ കാൺകയില്ല; കാരണമെന്ത്?</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo9">Answer</button>
  <div id="demo9" class="collapse info">
    ഉത്ത: ഇപ്പോൾ പത്തു പ്രാവശ്യം എന്നെ പരീക്ഷിക്കയും എൻ്റെ വാക്ക് കൂട്ടാക്കാതിരിക്കയും ചെയ്തതു കൊണ്ട് - സംഖ്യ 14:22, 23
  </div>

  <p>10) ദേശം ഒറ്റുനോക്കിയ നാല്പതു ദിവസത്തിൻ്റെ എണ്ണത്തിന്നൊത്തവണ്ണം ഒരു ദിവസത്തിന് ഒരു സംവത്സരം വീതം നാല്പത് സംവസരം എങ്ങനെ എന്ത് അറിയും എന്നാണു് ദൈവം പറക്കുന്നത്</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo10">Answer</button>
  <div id="demo10" class="collapse info">
    ഉത്ത: നിങ്ങൾ നിങ്ങളുടെ അകത്യം വഹിച്ച് എൻ്റെ അകൽച്ച അറിയും-സംഖ്യ 14:34
  </div>

</div>
    
  <script src="script.js"></script>
</body>
</html>
